body {
    background-color: #a2b9bc;
    margin: 0.5em 10em;
    font-size: 15px;
    font-family: Tahoma, sans-serif;
    border-top: steelblue 6px solid;
    border-bottom: steelblue 6px solid;
    border-radius: 6px;
}
h1 {
    text-align: center;
    background-color: steelblue;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.move {
    display: list-item;
    list-style-image: url(img/6dots.svg);
    list-style-position: outside;
    padding-left: 3px;
}
hr {
    border: steelblue solid 3px;
    opacity: 0.3;
    border-radius: 5px;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    padding-top: 1em;
    border-top: steelblue 6px solid;
    border-bottom: steelblue 6px solid;
    padding-bottom: 6px;
}

li {
    letter-spacing: 0.3px;
    line-height: 1.4em;
    padding: 5px;
}
ul li {
    list-style-type: circle;

}
.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}
ol li {
    list-style: square;
}
small {
    color: #BC70A4;
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 0px;
}
span {
    color: rgb(9, 110, 53);
    padding: 3px;
    letter-spacing: 0.9px;
    outline-color: seagreen;
    font-style: italic;
    font-weight: 300;
    margin-top: -3px;
}